version: '3'
services:
  ollama:
    image: harbor.cyverse.org/cloud-native-services/ollama-cuda12.2:latest
{% if gpu_enabled == "true" %}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
{% endif %}
    container_name: ollama
    restart: always
    ports:
      - "127.0.0.1:11434:11434"
    volumes:
      - type: bind
        source: /opt/ollama/data
        target: /root/.ollama
    networks:
      - network1
networks:
  network1:
    name: {{ danswer_docker_network }}
    external: true